In [7]:
#Import the dependencies.
import pandas as pd
import gmaps
import requests
#Import the API key.
from config import g_key

In [8]:
#Store the CSV you saved in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2022-05-26 12:58:34,-42.7826,147.0587,53.92,87,8,3.51
1,1,Sur,OM,2022-05-26 12:58:34,22.5667,59.5289,96.35,39,0,7.96
2,2,Saint-Philippe,RE,2022-05-26 12:58:35,-21.3585,55.7679,78.39,75,47,2.84
3,3,Abu Dhabi,AE,2022-05-26 12:57:05,24.4667,54.3667,96.82,36,0,23.02
4,4,Ponta Do Sol,PT,2022-05-26 12:58:35,32.6667,-17.1000,72.01,77,66,3.67

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
#Configure gmpas to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
#Get the maximum temperature.
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
#Heatmap of temperature
#1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]
#2. Assign the weights variable to some values.
max_temp = city_data_df['Max Temp']
#3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#5. Add the heatmap layer.
fig.add_layer(heat_layer)
#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))