In [3]:
#Import the dependencies.
import pandas as pd
import gmaps
import requests
#Import the API key.
from config import g_key

In [4]:
#Store the CSV you saved in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2022-05-26 12:58:34,-42.7826,147.0587,53.92,87,8,3.51
1,1,Sur,OM,2022-05-26 12:58:34,22.5667,59.5289,96.35,39,0,7.96
2,2,Saint-Philippe,RE,2022-05-26 12:58:35,-21.3585,55.7679,78.39,75,47,2.84
3,3,Abu Dhabi,AE,2022-05-26 12:57:05,24.4667,54.3667,96.82,36,0,23.02
4,4,Ponta Do Sol,PT,2022-05-26 12:58:35,32.6667,-17.1000,72.01,77,66,3.67

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
#Configure gmpas to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
#Get the maximum temperature.
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
#Heatmap of temperature
#1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]
#2. Assign the weights variable to some values.
max_temp = city_data_df['Max Temp']
#3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#5. Add the heatmap layer.
fig.add_layer(heat_layer)
#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#Heatmap of temperature
#1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]
#2. Assign the weights variable to some values.
max_temp = city_data_df['Max Temp']
#3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
dissipating=False, max_intensity=300, point_radius=4)
#5. Add the heatmap layer.
fig.add_layer(heat_layer)
#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

In [21]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
(city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Saint-Philippe,RE,2022-05-26 12:58:35,-21.3585,55.7679,78.39,75,47,2.84
5,5,Atuona,PF,2022-05-26 12:58:35,-9.8000,-139.0333,77.92,74,20,19.55
8,8,Lata,PT,2022-05-26 12:58:57,40.1629,-8.3327,79.92,23,8,4.81
15,15,Inhambane,MZ,2022-05-26 12:58:59,-23.8650,35.3833,84.18,58,20,4.61
17,17,Cape Canaveral,US,2022-05-26 12:58:59,28.4058,-80.6048,84.27,73,13,12.86
19,19,Hithadhoo,MV,2022-05-26 12:59:00,-0.6000,73.0833,84.07,66,100,9.26
23,23,Finschhafen,PG,2022-05-26 12:59:01,-6.6024,147.8681,79.23,85,97,1.25
25,25,Cap Malheureux,MU,2022-05-26 12:59:02,-19.9842,57.6142,78.48,66,5,7.00
34,34,Belyy Yar,RU,2022-05-26 12:59:05,53.6039,91.3903,75.09,31,0,13.42
43,43,Lucea,JM,2022-05-26 12:56:26,18.4510,-78.1736,80.85,76,57,11.05

In [22]:
preferred_cities_df.count()

City_ID       187
City          187
Country       185
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [23]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name']= ''
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2   Saint-Philippe      RE     78.39 -21.3585   55.7679
5           Atuona      PF     77.92  -9.8000 -139.0333
8             Lata      PT     79.92  40.1629   -8.3327
15       Inhambane      MZ     84.18 -23.8650   35.3833
17  Cape Canaveral      US     84.27  28.4058  -80.6048
19       Hithadhoo      MV     84.07  -0.6000   73.0833
23     Finschhafen      PG     79.23  -6.6024  147.8681
25  Cap Malheureux      MU     78.48 -19.9842   57.6142
34       Belyy Yar      RU     75.09  53.6039   91.3903
43           Lucea      JM     80.85  18.4510  -78.1736

In [24]:
#Set parameters to search for a hotel.
params = {'radius': 5000,
'type': 'lodging', 'key': g_key}

In [26]:
#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    #Add the latitude and longitude to location key for the params dictionary.
    params['location']=f'{lat},{lng}'
    #Use the search term: 'lodging' and our latitude and longitude.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
5,Atuona,PF,77.92,-9.8000,-139.0333,Villa Enata
8,Lata,PT,79.92,40.1629,-8.3327,Casa Maquia
15,Inhambane,MZ,84.18,-23.8650,35.3833,Oceano
17,Cape Canaveral,US,84.27,28.4058,-80.6048,Residence Inn by Marriott Cape Canaveral Cocoa...
19,Hithadhoo,MV,84.07,-0.6000,73.0833,Scoop Guest House
23,Finschhafen,PG,79.23,-6.6024,147.8681,Cossam Guest House
25,Cap Malheureux,MU,78.48,-19.9842,57.6142,Pereybere Hotel & Spa
34,Belyy Yar,RU,75.09,53.6039,91.3903,Pasportnyy Stol
43,Lucea,JM,80.85,18.4510,-78.1736,Grand Palladium Jamaica Resort & Spa

In [28]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd> 
</dl>
'''
#Store the DataFrame row.City
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))